<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.8k</key>
	<string>00</string>
	<key>6k</key>
	<string>01</string>
	<key>15k</key>
	<string>02</string>
	<key>50k</key>
	<string>03</string>
	<key>230k</key>
	<string>04</string>
</dict>
</plist>
